:root {
  --dark-cerulean: #124e78;
  --maastricht-blue: #0b132b;
  --yankees-blue: #1c2541;
  --sea-serpent: #5bc0be;
  --aquamarine: #6fffe9;
  --react: #00d8ff;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--yankees-blue);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

ol,
ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.board-and-history {
  display: flex;
}

.board-and-history h4 {
  margin: 0;
  text-decoration: solid underline;
}

.winning-square {
  background-color: aliceblue;
  border: 2px solid green;
  color: green;
}
