:root {
  --dark-cerulean: #124e78;
  --maastricht-blue: #0b132b;
  --yankees-blue: #1c2541;
  --sea-serpent: #5bc0be;
  --aquamarine: #6fffe9;
  --react: #00d8ff;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--yankees-blue);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

ol,
ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.board-and-history {
  display: flex;
}

.board-and-history h4 {
  margin: 0;
  text-decoration: solid underline;
}

.game-info {
  margin-left: 20px;
}

.game-info button {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background-color: rgba(91, 192, 190, 0.5);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid var(--maastricht-blue);
  border-radius: 0.5em;
}

.game-info button:hover {
  background-color: var(--sea-serpent);
  color: var(--maastricht-blue);
  border: 2px solid var(--react);
  cursor: pointer;
}

.status {
  margin-bottom: 10px;
}
